<h2>
    Your Payment Accepted 
</h2>
<div>
    <strong>press the button to go to hoe page</strong>
    <br />
    <br />
    
        @using (Html.BeginForm("UsersMoviesList", "Account"))
        {
            <input type="submit" value="Home Page" class="btn btn-default");" />
        }
        
    
</div>
